<div>
    <h4> Contact Information</h4>
    <p> Please fill out your Contact Information below. </p>
</div>
<form>
    <div class="row form-group">
        <div style="text-align:left; margin: 10px 0px;">
            <label >  Name <span style="color: purple; font-size: 20px;"> <b> * </b> </span> </label>
        </div>
        <div class="col-md-6" style="width: 400px;">
            <input type="text" class="form-control" >
            <label> First Name</label>
        </div>
        <div class="col-md-6" style="width: 400px;">
            <input type="text" class="form-control" >
            <label> Last Name</label>
        </div>
    </div>
    <div class="form-group" style="margin: 10px 0px; text-align:left;">
        <div>
            <label>  Email <span style="color: purple; font-size: 20px;"> <b> * </b> </span> </label>
            <input type="email" class="form-control" style="width: 600px;">
        </div>
        <div>
            <label>  Phone <span style="color: purple; font-size: 20px;"> <b> * </b> </span>  </label>
            <input type="tel" class="form-control" style="width: 600px;">
        </div>
        <div>
            <label>  Address <span style="color: purple; font-size: 20px;"> <b> * </b> </span>  </label>
            <textarea class="form-control" rows="2"></textarea>
        </div>
    </div>

</form>    